In [2]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# set format to float
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
# loading iris dataset
from sklearn.datasets import load_iris

dataset = load_iris()
dataset.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [4]:
# store into dataframe df_iris
df_iris = pd.DataFrame(dataset.data)
df_iris.columns = dataset.feature_names
df_iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
df_iris['target'] = dataset.target

df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width  target
0          5.10         3.50          1.40         0.20       0
1          4.90         3.00          1.40         0.20       0
2          4.70         3.20          1.30         0.20       0
3          4.60         3.10          1.50         0.20       0
4          5.00         3.60          1.40         0.20       0